@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  /* overflow: hidden;  */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* 전역 스타일 (예: index.css나 App.css) */
.swiper-pagination {
  bottom: -5px !important;  /* 점을 더 아래로 */
}
